.icon {width: 5rem;}
.block {display: block;}
.icon-cards {width: 3rem; height:3rem; font-size: 2rem; }
.row-empty-space {width: 100%; height: 3rem;}
.center {text-align: center;}
.div-width100 {width:100%; }
.cards-width {width: 18rem; max-width: 18rem;}
.btn-sort {width:3rem; min-width:3rem;}
