{# set class names according to user is admin or not #}

{% if session.admin_can_do_it == 'yes' %}
{% set class_show_login = 'd-none' %}
{% set class_show_logout = 'd-block' %}
{% else %}
{% set class_show_login = 'd-block' %}
{% set class_show_logout = 'd-none' %}
{% endif %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" fixed-top>
        <div class="icon"><a class="navbar-brand" href="#"><ion-icon name="stopwatch"></ion-icon></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Task list <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index/create/">Make Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">GitHub</a>
                </li>


            </ul>
            <div class="d-inline-flex">
               <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>-->
                <div class="{{ class_show_login }}  ml-2"><a href="/user/login/" class="btn btn-outline-light my-2 my-sm-0">Login</a></div>
                <div class="{{ class_show_logout }}  ml-2"><a href="/user/logout/" class="btn btn-outline-light my-2 my-sm-0">Loguot</a></div>
            </div>


        </div>
    </nav>

</header>

<div class="row-empty-space"></div>