{# set aliases to variables #}

{% set limit = data.limit %}
{% set offset = data.tasks.pagination.n %}
{% set pagination = [data.tasks.pagination.order_by, data.tasks.pagination.direction]|join('/') %}


<div class="d-flex flex-wrap justify-content-center"><h1>{{ data.h1 }}</h1></div>


<!-- Buttons for choice of direction order -->
{% include 'task_list_order_by_buttons.tmpl.html' %}
<!-- end of Buttons for choice of direction order -->


<!-- Pagination -->
{% if data.tasks.pagination.count_pages > 0 %}

    {% include 'task_list_pagination.tmpl.html' %}

{% endif %}
<!-- end of Pagination -->


<!-- Task list -->
{% include 'task_list_output.tmpl.html' %}
<!-- end of Task list -->



