<div class="d-flex flex-wrap justify-content-center">


    <!-- author sort -->
    <div class="d-flex flex-row center btn btn-secondary m-2">
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'author', 'ask', 0]|join('/') }}">
                <ion-icon name="arrow-up"></ion-icon>
            </a>
        </div>
        <div class="btn-sort">
            <span>Name</span>
        </div>
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'author', 'desk', 0]|join('/') }}">
                <ion-icon name="arrow-down"></ion-icon>
            </a>
        </div>
    </div>
    <!-- end of name sort -->

    <!-- email sort -->
    <div class="d-flex flex-row center btn btn-secondary m-2">
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'email', 'ask', 0]|join('/') }}">
                <ion-icon name="arrow-up"></ion-icon>
            </a>
        </div>
        <div class="btn-sort">
            <span>Email</span>
        </div>
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'email', 'desk', 0]|join('/') }}">
                <ion-icon name="arrow-down"></ion-icon>
            </a>
        </div>
    </div>
    <!-- end of email sort -->

    <!-- status sort -->
    <div class="d-flex flex-row center btn btn-secondary m-2">
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'status', 'ask', offset]|join('/') }}">
                <ion-icon name="arrow-up"></ion-icon>
            </a>
        </div>
        <div class="btn-sort">
            <span>Status</span>
        </div>
        <div class="btn-sort">
            <a class="btn-secondary" href="/index/index{{ [page, 'status', 'desk', offset]|join('/') }}">
                <ion-icon name="arrow-down"></ion-icon>
            </a>
        </div>
    </div>
    <!-- end of status sort -->

</div>