<div class="row-empty-space"></div>
<h1 class="center">{{ data.h1 }}</h1>
<div class="row-empty-space"></div>

<form action="/user/auth" method="post">
    <br>

    <div class="form-group">
        <input required name="login" class="form-control" id="login" placeholder="Enter login">
    </div>

    <div class="form-group">
        <input required name="pass" class="form-control" id="InputEmail" placeholder="pass">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/" class="btn btn-primary">Cancel</a>
</form>




